@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Merriweather', serif;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: black;
    padding-bottom: 50px;
}

.loader{
    width: 30px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-top: 35px;
    word-spacing: 1px;
    line-height: 30px;
}


.logo{
    width: 45px;
    cursor: pointer;

}

li, a{
    font-size: 14px;
    color: black;
    text-decoration: black;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
}


.nav_links, .logo{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 60px 0px 0px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    font-size: 16px;
    color:black);
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.main_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 10px 20%;
}

.intro{
    width: 40%;
    margin-right: 0px;
}

.projects{
    width: 61%;
    
}

.projects a{
    font-size: 10px !important;
}

.p1, .p2, .p3, .p4{
    background-color: #80DDFF;
    margin: 0px 10px 0px 20px;
    height: 120px;
    padding: 3px 5px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}



.p2{
    background-color: #95E3FF;

}

.p3{
    background-color: #A8E8FF;

}

.p4{
    background-color: #B7ECFF;

}


.projects p{
    align-self: flex-end;
}

.projects div{
    transition: all 0.3s ease 0s;  
    transition: all .2s ease-in-out;
}

.projects div:hover{
    background-color: rgb(236, 171, 236); 
    box-shadow: 0px 0px 7px 0px rgb(236, 171, 236);
    transform: scale(1.02);
    font-size: larger; 
}

.intro h2{
    font-weight: 400;
    font-size: 30px;
}

.intro h1{s
    margin-top: 5px;
}

.intro p{
    margin-top: 35px;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}


/* Responsive mode */

@media (max-width: 971px) {
    .top {
        padding: 10px 5%;
    }

    .main_content {
        padding: 10px 5%;
    }

}

@media (max-width: 720px){



    .main_content{
        flex-direction: column;
        text-align: center;
    }

    .intro{
        width: 100%;
    }

    .projects{
        padding-top: 30px;
        width: 100%;
    }

    .top{
        flex-direction: column-reverse;
    }

    .nav_links li{
        text-align: center;
        padding: 10px;
    }

    .intro p{
        margin-top: 0px;
    }
}







