@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Merriweather', serif;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: black;
    padding-bottom: 50px;
}

.loader{
    width: 30px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-top: 35px;
    word-spacing: 1px;
    line-height: 30px;
}


.logo{
    width: 45px;
    cursor: pointer;

}

li, a{
    font-size: 14px;
    color: black;
    text-decoration: black;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
}

header{
    background-color: #f8f79b;
}

.nav_links, .logo{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 60px 0px 0px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    font-size: 16px;
    color: black;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.cover{
    background-color: #f8f79b;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-bottom: 100px;
}

.cover h1{
    font-size: 80px;
    font-weight: 300;

}

.cover p{
    padding: 15px;
    font-size: 20px;
    font-weight: 200;
}

.car{
    width: 30%;
    padding-top: 10px;
    
}

.content h2{
    font-size: 50px;
    font-weight: 500;
}

.content h3{
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 500;
}

.content ul{
    list-style-type: "\27A4";
}

.content li{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    padding-top: 5px;
    margin-bottom: 10px;
    word-spacing: 1px;
    line-height: 30px;
    font-weight: 300;
    padding-left: 15px;
}


.section1{
    padding: 100px 20%;
    margin-bottom: 100px;
}

.section1[data-scroll] {
    transition: opacity 1s ease 0s;
  }

.section1[data-scroll="in"] {
    opacity: 1;
  }
.section1[data-scroll="out"] {
    opacity: 0;
  }


.section2{
    background-color: #f8f79b;
}

.s2content{
    padding: 100px 20%;
}

.s2content img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

}

.section3{
    padding: 100px 20%;
}

.section3 h2{
    padding-bottom: 30px;
}

.section3 img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;  
}

.section4{
    background-color: #ebeaa0;
}

.s4content{
    padding: 100px 20%;
    margin-bottom: 100px;
}

.s4content img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding-top: 30px;
}

footer{
    padding: 100px 20%;
}

footer h2{
    padding-bottom: 50px;
}

.projects{
    display: flex;
    justify-content: space-between;
}

.project1{
    background-color: rgb(211, 254, 255);
    text-align: center;
    padding: 50px 75px;
    border-radius: 5px;
}

.project3{
    background-color: rgb(211, 254, 255);
    text-align: center;
    padding: 50px 75px;
    border-radius: 5px;
}





/* Responsive mode */

@media (max-width: 1024px) {
    .top {
        padding: 10px 5%;
    }

    .section1{
        padding: 100px 10%;
    }

    .s2content{
        padding: 100px 10%;
    }

    .section3{
        padding: 100px 10%;
    }

    .s4content{
        padding: 100px 10%;
    }

}

@media (max-width: 720px){

    .cover{
        flex-direction: column;
        text-align: center;
    }

    .top{
        flex-direction: column-reverse;
    }

    .nav_links{
        padding-top: 15px;
    }

    .nav_links li{
        text-align: center;
        padding: 0px 7px;
    }

    .nav_links a{
        font-size: 13px;
    }

}