@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Merriweather', serif;
    background-color: black;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: black;
}

.loader{
    width: 30px;
}


.content{
    padding: 0px 20%;
}

h2,h3{
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 13px;
    word-spacing: 1px;
    line-height: 20px;
    color: white;
}


.logo{
    width: 45px;
    cursor: pointer;

}

li, a{
    font-size: 14px;
    color: white;
    text-decoration: white;
}

a{
    text-decoration: none;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
}

.nav_links, .logo{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 60px 0px 0px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    font-size: 16px;
    color: white;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.content li{
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: white;
    font-weight: 300;
    line-height: 30px;

}

.content ul{
    padding-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container img{
    padding-top: 20px;
    width: 100%;
}

.idea2 h2{
    padding-top: 50px;
}


/* Responsive mode */

@media (max-width: 1024px) {
    .top {
        padding: 10px 5%;
    }

    .container img{
        width: 700px;
        height: 500px;
    }

}

@media (max-width: 720px){

    .cover{
        flex-direction: column;
        text-align: center;
    }

    .top{
        flex-direction: column-reverse;
    }

    .nav_links{
        padding-top: 15px;
    }

    .nav_links li{
        text-align: center;
        padding: 0px 5px;
    }

    .nav_links a{
        font-size: 13px;
    }

    .container img{
        width: 180px;
        height: 150px;
    }

    .content {
        padding: 10px 10%;
    }


}




